<tr id="{$data[id]}">
	<td class="text-center">{$data[number]}</td>
	<td class="text-center">{$data[name]}</td>
	<td class="text-center">{$data[password]}</td>
	<td class="text-center">{$data[sex]}</td>
	<td class="text-center">{$data[positionid]} </td>
	<td class="text-center">{$data[departmentid]}</td>
	<td class="text-center">{$data[salary]}</td>
	<td class="text-center">{$data[telphone]}</td>
	<td class="text-center">{$data[enterdate]}</td>
	<td class="text-center"><a href="javaacript:;" class="ua" data-toggle="modal" data-target="#myModal" onclick="update({$data[id]})"><span class="glyphicon glyphicon-pencil"></span>修改</a><a href="" class="da"><span class="glyphicon glyphicon-trash"></span>删除</a></td>
</tr>