<tr>
	<td>id号：<input type="text" value="{$data[id]}" class="text-center"></td>
	<td>工号：<input type="text" value="{$data[number]}" class="text-center"></td>
	<td>姓名：<input type="text" value="{$data[name]}" class="text-center"></td>
	
</tr>
<tr>	
	<td>性别：<input type="text" value="{$data[sex]}" class="text-center"></td>
	<td>职位：<input type="text" value="{$data[positionid]}" class="text-center"></td>
	<td>部门：<input type="text" value="{$data[departmentid]}" class="text-center"></td>
</tr>
<tr>
	<td>密码：<input type="text" value="{$data[password]}" class="text-center"></td>	
	<td>工资：<input type="text" value="{$data[salary]}" class="text-center"></td>
	<td>电话：<input type="text" value="{$data[telphone]}" class="text-center"></td>
</tr>
<tr>
	<td>入职时间：<input type="text" value="{$data[enterdate]}" class="text-center"></td>
</tr>
	